
body {
    color: map-get($COLOR-PALETTE , font );
    font-family: "Montserrat";
    margin: 0 auto;
    margin-top: $navigation-default-height;

    @include wide-screen-design {

        width: $max-width-screen;
        padding-top: 70px;
        margin: 0 auto;
        background-color: map-get($COLOR-PALETTE, bg);
    }
}

li {
    list-style: none;
}

button {
    display: inline-block;
    padding: 5px 25px;
    color: map-get($COLOR_PALETTE, ter);
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid map-get($COLOR_PALETTE, ter);
    cursor: pointer;
    transition: .2s all ease-in-out;
    
    &:hover {
      color: lighten(map-get($COLOR_PALETTE, ter), 15%);
      border-color: lighten(map-get($COLOR_PALETTE, ter), 15%);
    }

    @include tablet-design {
        height:50px;
        width: 150px;
    }
      
}

Link {
    text-decoration: none;
}

.App {
    box-shadow: 0px 100px 300px 0px lighten(map-get($COLOR_PALETTE, shadow), 50%);
    padding: 20px;

}

.no-underline {
    text-decoration: none
}
