@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap";
body {
  color: #272727;
  font-family: "Montserrat";
  margin: 0 auto;
  margin-top: 70px;
}
@media screen and (min-width: 1400px) {
  body {
    width: 1400px;
    padding-top: 70px;
    margin: 0 auto;
    background-color: #fff;
  }
}

li {
  list-style: none;
}

button {
  display: inline-block;
  padding: 5px 25px;
  color: #2046f2;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #2046f2;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
button:hover {
  color: #6882f6;
  border-color: #6882f6;
}

.App {
  box-shadow: 0px 100px 300px 0px rgba(186, 186, 186, 0.226);
  padding: 20px;
}

.center {
  text-align: center;
  justify-content: center;
}

.close-menu-cross {
  color: #2046f2;
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}

.round-category-box {
  background-color: #fcfcfc;
  padding: 1em;
  text-align: center;
  opacity: 0.9;
  width: 100%;
}
.round-category-box:hover {
  opacity: 0.7;
}
.round-category-box__image {
  width: 150px;
}
@media screen and (max-width: 590px) {
  .round-category-box__image {
    width: 120px;
  }
}

.main-object {
  position: relative;
  margin: 1%;
  border-radius: 5%;
  box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
  border: 1px solid rgba(128, 128, 131, 0.13);
  /* box-shadow: 5px 5px 5px whitesmoke; */
  text-align: center;
}
.main-object:hover {
  box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.397);
  cursor: pointer;
}
.main-object__image img {
  width: 90%;
  /* border-radius: 10%; */
  margin: 2%;
  margin-right: 5%;
  max-height: 100%;
  text-align: center;
}
.main-object__informations__price {
  color: #d59c00;
}
.main-object__informations__table {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.main-object__informations__table td {
  border-bottom: 1px solid lightgrey;
}
.main-object__informations__duration {
  color: #d59c00;
  font-weight: bold;
  font-size: 1.2em;
}

.round-selection-box {
  text-align: center;
  margin: 1em;
}
@media screen and (max-width: 590px) {
  .round-selection-box {
    margin: 0.2em;
  }
}
.round-selection-box__image {
  width: 80%;
}
@media screen and (max-width: 590px) {
  .round-selection-box__image {
    width: 100%;
  }
}
@media screen and (max-width: 590px) {
  .round-selection-box__title {
    display: none;
  }
}

.site-logo {
  color: #272727;
}
.site-logo--center {
  text-align: center;
}
.button-follow {
  border-color: #478847;
  color: #478847;
  border-radius: none;
}

.button-unfollow {
  border-color: #d06767;
  color: #d06767;
}

.button-open-bid {
  border-color: #d59c00;
  color: #d59c00;
  border-radius: 0;
}

.button-bid {
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 2px;
  border-color: #d59c00;
  color: #d59c00;
}

.button-search {
  color: #2046f2;
  height: 2em;
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 590px) {
  .button-search {
    text-align: center;
    border-radius: 10px;
  }
}

.bid-list table {
  margin: 0 auto;
}
.bid-list table td {
  width: 3%;
}

.wrapper, .wrapper--large, .wrapper--small {
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.wrapper--small {
  width: 980px;
}
.wrapper--large {
  width: 1170px;
}

.main-banner-cookie__container {
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 10%;
  width: 100%;
  padding: 5px 14px;
  font-size: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.main-banner-cookie__container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner-cookie__container div button {
  margin: 1%;
}

.main-footer {
  margin-top: 100px;
}
.main-footer__infos {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  padding: 1%;
  margin-top: 0;
}
@media screen and (max-width: 590px) {
  .main-footer__infos {
    display: block;
  }
}
@media screen and (max-width: 590px) {
  .main-footer__infos ul {
    margin-top: 15%;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.466);
    padding: 2%;
    border-radius: 20%;
    box-shadow: 0px 0px 3px 3px rgba(211, 211, 211, 0.562);
  }
}
.main-footer__infos li {
  color: #272727;
  cursor: pointer;
  font-size: 0.9em;
}
@media screen and (max-width: 590px) {
  .main-footer__infos li {
    margin: 5%;
    height: 50px;
  }
}
.main-footer__infos li:hover {
  color: #2046f2;
}

.main-object-list {
  margin: 0 auto;
}
.main-object-list__no-object {
  text-align: center;
  margin: 100px;
}
.main-object-list__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-object-list__wrapper div {
  flex-basis: 20%;
}
@media screen and (max-width: 1280px) {
  .main-object-list__wrapper div {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 590px) {
  .main-object-list__wrapper div {
    flex-basis: 90%;
  }
}
.main-object-list__container {
  text-align: center;
  margin: 2em;
}
.main-object-list__container__view-more-button {
  text-align: center;
}

.main-category-banner__container {
  display: flex;
  overflow-x: scroll;
  padding: 1em;
  margin: 1%;
}

.main-sub-category {
  margin: 10px;
}
.main-sub-category__container {
  display: flex;
  overflow-x: scroll;
}
.main-sub-category__container__button-box {
  text-align: center;
  opacity: 0.9;
}
.main-sub-category__container__button-box__button {
  width: 160px;
  margin: 10px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2046f2;
  background-color: #fafafa;
  opacity: 0.95;
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0px 10px 30px 0px rgba(58, 58, 58, 0.226);
}
@media screen and (min-width: 1400px) {
  .nav-bar {
    width: 1400px;
    left: 0;
    right: 0%;
    margin: 0 auto;
  }
}
.nav-bar__nav-site {
  max-width: 1400px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-bar__nav-site:hover {
  opacity: 0.8;
}
.nav-bar__nav-site__nav-burger {
  display: none;
  margin-right: 0.5em;
}
@media screen and (max-width: 1280px) {
  .nav-bar__nav-site__nav-burger {
    display: block;
  }
}
.nav-bar__logo {
  color: #272727;
  text-decoration: none;
}
.nav-bar__logo img {
  width: 12%;
}
@media screen and (max-width: 1280px) {
  .nav-bar__logo img {
    display: none;
  }
}
.nav-bar__search {
  display: flex;
  align-items: center;
}
.nav-bar__search-bar {
  margin-right: 0.5em;
  height: 2em;
}
@media screen and (max-width: 590px) {
  .nav-bar__search-bar {
    display: none;
  }
}
.nav-bar__account {
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}
.nav-bar__account:hover {
  opacity: 0.7;
}
.nav-bar__account-angle {
  margin-left: 0.2em;
}
.nav-bar__account-pseudo {
  font-size: 0.8em;
  margin: 0;
}
.nav-bar__menu {
  width: 40%;
}
.nav-bar__menu__link-list {
  display: flex;
  justify-content: space-evenly;
}
.nav-bar__menu__link-list li {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.nav-bar__menu__link-list li:hover {
  border-bottom: 1px solid #d8d8d8;
}
.nav-bar__menu i {
  display: none;
}
.nav-bar__menu__link-list li {
  margin: 0.5em;
}
.nav-bar__menu__link-list li:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1280px) {
  .nav-bar__menu {
    width: 30%;
    position: absolute;
    top: 75px;
    left: 1%;
    z-index: 10;
    color: #272727;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.226);
  }
  .nav-bar__menu li {
    margin: 0.2em;
    padding: 0.2em;
  }
  .nav-bar__menu li:hover {
    color: #2046f2;
    border-bottom: 0;
  }
  .nav-bar__menu__link-list {
    display: block;
    justify-content: space-evenly;
  }
  .nav-bar__menu i {
    display: block;
  }
  .nav-bar__menu--large {
    display: none;
    margin: 0;
  }
}
@media screen and (max-width: 590px) {
  .nav-bar__menu {
    width: 50%;
  }
}
.nav-bar__user {
  position: absolute;
  top: 75px;
  right: 0%;
  width: 17%;
  z-index: 10;
  color: #272727;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.226);
}
.nav-bar__user li {
  margin: 0.2em;
  padding: 0.2em;
  cursor: pointer;
}
.nav-bar__user li:hover {
  color: #2046f2;
  border-bottom: 0;
}
.nav-bar__user-button {
  margin: 0 auto;
}
.nav-bar__user-button button {
  margin: 0.5em;
  margin-left: 0;
}
@media screen and (max-width: 1280px) {
  .nav-bar__user-button {
    text-align: center;
  }
}
@media screen and (max-width: 1280px) {
  .nav-bar__user {
    width: 35%;
    right: 3%;
  }
}
@media screen and (max-width: 590px) {
  .nav-bar__user {
    width: 50%;
  }
}

.main-offer-banner {
  position: relative;
}
.main-offer-banner__left-arrow {
  position: absolute;
  top: 55%;
  right: 2%;
  cursor: pointer;
  z-index: 10;
}
.main-offer-banner__left-arrow:hover {
  color: #d59c00;
}
.main-offer-banner__right-arrow {
  position: absolute;
  top: 55%;
  left: 2%;
  cursor: pointer;
  z-index: 10;
}
.main-offer-banner__right-arrow:hover {
  color: #d59c00;
}
.main-offer-banner__scroll-box {
  position: relative;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.main-offer-banner__scroll-box__container {
  display: flex;
  width: 300%;
  cursor: pointer;
  position: relative;
  margin: 0%;
  /* max-height: 400px; */
  /* width: 400%; */
  background-color: rgba(213, 156, 0, 0.514);
  box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
}
.main-offer-banner__scroll-box__container__image {
  width: 150%;
  /* height: 300%; */
  object-fit: cover;
}

.main-selection-banner__container {
  display: flex;
  justify-content: space-around;
}
.description-box td {
  width: 5%;
}
.description-box tr {
  border-bottom: 1px solid grey;
}

.main-detailled-object {
  max-height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 100px;
}
.main-detailled-object__category {
  text-align: center;
  margin-bottom: 0;
}
.main-detailled-object__title {
  text-align: center;
  font-weight: bold;
}
.main-detailled-object__list {
  position: relative;
  padding: 60px 0;
}
.main-detailled-object__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 175px;
  right: 125px;
  bottom: 0;
  border: 10px solid #2046f2;
}
.main-detailled-object__list-el {
  display: none;
}
.main-detailled-object__list-el--is-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-detailled-object__list-el--is-active .main-detailled-object__content__visual {
  animation: scaleUp 0.6s;
}
.main-detailled-object__content {
  position: relative;
  width: 42.5%;
  z-index: 1;
  background-color: white;
  margin: 2%;
}
.main-detailled-object__content-blurb h3 {
  font-size: 54px;
}
.main-detailled-object__content-blurb p {
  max-width: 350px;
}
.main-detailled-object__content-blurb__bid-list__bid-number {
  cursor: pointer;
  color: #2046f2;
}
.main-detailled-object__content__visual {
  position: relative;
  width: 52.5%;
  box-shadow: 5px 8px 30px 1px rgba(0, 0, 0, 0.21);
  z-index: 2;
}
.main-detailled-object__content__visual img {
  display: block;
  width: 100%;
}
.main-detailled-object__content__navigation {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin: 45px auto 0 auto;
}
.main-detailled-object__content-el {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
}
.main-detailled-object__content-el--is-active {
  background-color: transparent;
  box-shadow: 0 0 0 2px #fafafa;
}
@media (max-width: 991px) {
  .main-detailled-object .main-detailled-object {
    padding: 90px 0 60px 0;
  }
  .main-detailled-object .main-detailled-object__heading {
    font-size: 48px;
  }
  .main-detailled-object .main-detailled-object__list {
    padding: 0;
  }
  .main-detailled-object .main-detailled-object__list::before {
    top: 45px;
    left: 0;
    right: 0;
    bottom: 45px;
  }
  .main-detailled-object .main-detailled-object__list-el--is-active {
    flex-direction: column;
  }
  .main-detailled-object .main-detailled-object__content {
    width: auto;
    max-width: 100%;
    margin-bottom: 45px;
    text-align: center;
  }
  .main-detailled-object .main-detailled-object__content-blurb {
    padding: 0 15px;
  }
  .main-detailled-object .main-detailled-object__content-blurb h3 {
    font-size: 42px;
  }
  .main-detailled-object .main-detailled-object__content-blurb p {
    max-width: 300px;
  }
  .main-detailled-object__visual {
    width: 600px;
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .main-detailled-object__heading {
    font-size: 32px;
  }
  .main-detailled-object__content-blurb h3 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .main-detailled-object__list::before {
    display: none;
  }
  .main-detailled-object__list__visual {
    max-width: 100%;
  }
}
.main-detailled-object-questions {
  text-align: center;
  background-color: white;
  margin: auto;
}
.main-detailled-object-questions__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-detailled-object-questions__box__q-and-a {
  background-color: #f1f1f1;
  margin: 3%;
  padding: 2%;
  box-shadow: 3px 3px 6px 3px rgba(209, 205, 205, 0.26);
  flex-basis: 20%;
}
@media screen and (max-width: 1280px) {
  .main-detailled-object-questions__box__q-and-a {
    flex-basis: 31%;
  }
}
@media screen and (max-width: 590px) {
  .main-detailled-object-questions__box__q-and-a {
    flex-basis: 100%;
  }
}
.main-detailled-object-questions__box__q-and-a__question-label {
  text-align: left;
  color: #2046f2;
}
.main-detailled-object-questions__box__q-and-a__answer-label {
  text-align: left;
  color: #2046f2;
}
@media screen and (max-width: 1280px) {
  .questions-main > div {
    flex-basis: 31%;
  }
}
@media screen and (max-width: 980px) {
  .questions-main > div {
    flex-basis: 48%;
  }
}
@media screen and (max-width: 680px) {
  .questions-main > div {
    flex-basis: 100%;
  }
}
.main-image-caroussel {
  position: relative;
  width: 52.5%;
  box-shadow: 5px 8px 30px 1px rgba(0, 0, 0, 0.21);
  z-index: 2;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .main-image-caroussel {
    width: 90%;
  }
}
.main-image-caroussel img {
  display: block;
  width: 100%;
  z-index: auto;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  .main-image-caroussel img {
    cursor: default;
  }
}
.main-image-caroussel__image-counter {
  position: absolute;
  background-color: white;
  right: 50%;
  bottom: 1%;
  padding: 3px;
  border-radius: 10px;
}
.main-image-caroussel__left-arrow {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 5px;
  background-color: rgba(255, 255, 255, 0.664);
}
.main-image-caroussel__right-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 5px;
  background-color: rgba(255, 255, 255, 0.664);
}

.main-image-full-screen {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1400px;
  max-height: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 30;
  box-shadow: 0px 10px 30px 0px rgba(58, 58, 58, 0.226);
}
@media screen and (max-width: 1280px) {
  .main-image-full-screen {
    display: none;
  }
}
.main-image-full-screen img {
  width: 70%;
}

.main-loading {
  text-align: center;
  margin: 0 auto;
}
.main-loading img {
  width: 40%;
}

.main-sale-form {
  text-align: center;
  background-color: #f3f3f3;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  max-width: 1000px;
}
.main-sale-form table {
  width: 80%;
}
.main-sale-form select {
  width: 50%;
}
@media screen and (max-width: 590px) {
  .main-sale-form select {
    height: 30px;
    width: 90%;
  }
}
.main-sale-form button {
  margin: 5%;
}
.main-sale-form td {
  padding: 3%;
  border-bottom: 3px solid white;
}
.main-sale-form__field__description {
  width: 100%;
  height: 300px;
  resize: none;
}
@media screen and (max-width: 590px) {
  .main-sale-form__field__description {
    height: 200px;
  }
}
.main-sale-form__field input {
  width: 100%;
}
@media screen and (max-width: 590px) {
  .main-sale-form__field input {
    height: 30px;
  }
}
.main-sale-form__int-field {
  width: 30%;
}
.main-sale-form__main-image {
  width: 50%;
}

select {
  width: 30%;
}

@media screen and (max-width: 680px) {
  .main-sale-form input {
    height: 30px;
  }

  .main-sale-form select {
    height: 30px;
  }
}
.main-search-form {
  margin: 0 auto;
  padding: 2em;
  border-radius: 2em;
  max-width: 900px;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.226);
}
@media screen and (max-width: 1280px) {
  .main-search-form input {
    font-size: 1.3em;
    height: 40px;
    margin-bottom: 1.5em;
  }
}
.main-search-form__search-bar {
  height: 30px;
  width: 70%;
}
@media screen and (max-width: 1280px) {
  .main-search-form__search-bar {
    width: 100%;
  }
}
.main-search-form select {
  height: 34px;
  width: 29%;
}
@media screen and (max-width: 1280px) {
  .main-search-form select {
    width: 100%;
    height: 40px;
    font-size: 1.4em;
    text-align: center;
  }
}
.main-search-form__checkbox {
  display: flex;
  justify-content: right;
  padding: 1em;
}
@media screen and (max-width: 1280px) {
  .main-search-form__checkbox {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
.main-search-form__checkbox div {
  margin-left: 3em;
}
.main-search-form__checkbox input {
  width: 50px;
}
.main-search-form__button {
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .main-search-form__button button {
    height: 50px;
    width: 150px;
  }
}

.main-user-profile {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 50%;
}
.main-user-profile__container {
  border-radius: 20px;
  box-shadow: 6px 6px 27px 19px rgba(194, 194, 194, 0.253);
}
.main-user-profile__container img {
  margin: 2%;
  width: 20%;
}
.main-user-profile__container button {
  margin-top: 2%;
  margin-bottom: 2%;
}
.main-user-profile__container p {
  margin: 0;
}

.main-home-page {
  padding-top: 30px;
}

.main-category-page {
  margin-top: 120px;
}
.main-category-page__selected-category {
  text-align: center;
}

.main-auth {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 3%;
}
@media screen and (max-width: 1280px) {
  .main-auth {
    display: block;
  }
}
.main-auth input {
  margin: 1em;
}
@media screen and (max-width: 1280px) {
  .main-auth input {
    height: 50px;
    width: 80%;
    font-size: 1.5em;
  }
}
.main-auth__connection-box {
  padding: 2%;
  background-color: white;
  border-radius: 20px;
  width: 25%;
  box-shadow: 10px 0px 40px 20px rgba(194, 194, 194, 0.164);
  border: 1px solid #e2dede;
  /* padding: 10em; */
}
@media screen and (max-width: 1280px) {
  .main-auth__connection-box {
    width: 90%;
    margin-bottom: 1em;
  }
}
.main-auth__register-box {
  box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
  box-shadow: 10px 0px 40px 20px rgba(194, 194, 194, 0.164);
  border: 1px solid #e2dede;
  background-color: white;
  width: 25%;
  padding: 2%;
  border-radius: 20px;
}
@media screen and (max-width: 1280px) {
  .main-auth__register-box {
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .main-box {
    display: block;
  }

  .main-box input {
    height: 50px;
    width: 80%;
  }

  .register-box {
    width: 90%;
  }

  .connection-box {
    width: 90%;
    margin-bottom: 10%;
  }
}

/*# sourceMappingURL=styles.css.map */
