@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap";
body {
  color: #272727;
  font-family: "Montserrat";
  margin-top: 70px;
}

li {
  list-style: none;
}

button {
  display: inline-block;
  padding: 5px 25px;
  color: #2046f2;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #2046f2;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
button:hover {
  color: #6882f6;
  border-color: #6882f6;
}

.center {
  text-align: center;
  justify-content: center;
}

.close-menu-cross {
  color: #2046f2;
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}

.round-category-box {
  background-color: #fcfcfc;
  padding: 1em;
  text-align: center;
  opacity: 0.9;
  width: 100%;
}
.round-category-box:hover {
  opacity: 0.7;
}
.round-category-box__image {
  width: 150px;
}
@media screen and (max-width: 590px) {
  .round-category-box__image {
    width: 120px;
  }
}

.main-object {
  position: relative;
  margin: 1%;
  border-radius: 5%;
  box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
  border: 1px solid rgba(128, 128, 131, 0.13);
  /* box-shadow: 5px 5px 5px whitesmoke; */
  text-align: center;
}
.main-object:hover {
  box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.397);
  cursor: pointer;
}
.main-object__image img {
  width: 90%;
  /* border-radius: 10%; */
  margin: 2%;
  margin-right: 5%;
  max-height: 100%;
  text-align: center;
}
.main-object__informations__price {
  color: #d59c00;
}
.main-object__informations__table {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.main-object__informations__table td {
  border-bottom: 1px solid lightgrey;
}
.main-object__informations__duration {
  color: #d59c00;
  font-weight: bold;
  font-size: 1.2em;
}

.round-selection-box {
  text-align: center;
  margin: 1em;
}
@media screen and (max-width: 590px) {
  .round-selection-box {
    margin: 0.2em;
  }
}
.round-selection-box__image {
  width: 80%;
}
@media screen and (max-width: 590px) {
  .round-selection-box__image {
    width: 100%;
  }
}
@media screen and (max-width: 590px) {
  .round-selection-box__title {
    display: none;
  }
}

.site-logo {
  color: #272727;
}
.site-logo--center {
  text-align: center;
}
.main-banner-cookie__container {
  position: fixed;
  bottom: 40px;
  left: 7%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  font-size: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.main-banner-cookie__container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner-cookie__container div button {
  margin: 1%;
}

.main-footer {
  margin-top: 100px;
}
.main-footer__infos {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  padding: 1%;
  margin-top: 0;
}
@media screen and (max-width: 590px) {
  .main-footer__infos {
    display: block;
  }
}
@media screen and (max-width: 590px) {
  .main-footer__infos ul {
    margin-top: 15%;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.466);
    padding: 2%;
    border-radius: 20%;
    box-shadow: 0px 0px 3px 3px rgba(211, 211, 211, 0.562);
  }
}
.main-footer__infos li {
  color: #272727;
  cursor: pointer;
  font-size: 0.9em;
}
@media screen and (max-width: 590px) {
  .main-footer__infos li {
    margin: 5%;
    height: 50px;
  }
}
.main-footer__infos li:hover {
  color: #2046f2;
}

.main-object-list {
  margin: 0 auto;
}
.main-object-list__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-object-list__wrapper div {
  flex-basis: 20%;
}
@media screen and (max-width: 1280px) {
  .main-object-list__wrapper div {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 590px) {
  .main-object-list__wrapper div {
    flex-basis: 90%;
  }
}
.main-object-list__container {
  text-align: center;
  margin: 2em;
}
.main-object-list__container__view-more-button {
  text-align: center;
}

.main-category-banner__container {
  display: flex;
  overflow-x: scroll;
  padding: 1em;
  margin: 1%;
}

.main-sub-category {
  margin: 10px;
}
.main-sub-category__container {
  display: flex;
  overflow-x: scroll;
}
.main-sub-category__container__button-box {
  text-align: center;
  opacity: 0.9;
}
.main-sub-category__container__button-box__button {
  width: 160px;
  margin: 10px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2046f2;
  background-color: #fafafa;
  opacity: 0.95;
  z-index: 30;
  border-bottom: 1px solid #585858;
  box-shadow: 0px 10px 30px 0px rgba(227, 224, 224, 0.797);
}
.nav-bar__nav-site {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-bar__nav-site:hover {
  opacity: 0.8;
}
.nav-bar__nav-site__nav-burger {
  display: none;
  margin-right: 0.5em;
}
@media screen and (max-width: 1280px) {
  .nav-bar__nav-site__nav-burger {
    display: block;
  }
}
.nav-bar__logo {
  color: #272727;
}
.nav-bar__logo img {
  width: 12%;
}
@media screen and (max-width: 1280px) {
  .nav-bar__logo img {
    display: none;
  }
}
.nav-bar__search {
  display: flex;
  align-items: center;
}
.nav-bar__search-bar {
  margin-right: 0.5em;
  height: 2em;
}
@media screen and (max-width: 590px) {
  .nav-bar__search-bar {
    display: none;
  }
}
.nav-bar__search-button {
  color: #2046f2;
  height: 2em;
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 590px) {
  .nav-bar__search-button {
    text-align: center;
    border-radius: 10px;
  }
}
.nav-bar__account {
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}
.nav-bar__account:hover {
  opacity: 0.7;
}
.nav-bar__account-angle {
  margin-left: 0.2em;
}
.nav-bar__account-pseudo {
  font-size: 0.8em;
  margin: 0;
}
.nav-bar__menu {
  width: 30%;
}
.nav-bar__menu__link-list {
  display: flex;
  justify-content: space-evenly;
}
.nav-bar__menu__link-list li {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.nav-bar__menu__link-list li:hover {
  border-bottom: 1px solid #585858;
}
.nav-bar__menu i {
  display: none;
}
@media screen and (max-width: 1280px) {
  .nav-bar__menu {
    width: 30%;
    position: fixed;
    top: 75px;
    left: 1%;
    z-index: 10;
    color: #272727;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px rgba(227, 224, 224, 0.797);
  }
  .nav-bar__menu li {
    margin: 0.2em;
    padding: 0.2em;
  }
  .nav-bar__menu li:hover {
    color: #2046f2;
    border-bottom: 0;
  }
  .nav-bar__menu__link-list {
    display: block;
    justify-content: space-evenly;
  }
  .nav-bar__menu i {
    display: block;
  }
  .nav-bar__menu--large {
    display: none;
    margin: 0;
  }
}
@media screen and (max-width: 590px) {
  .nav-bar__menu {
    width: 50%;
  }
}
.nav-bar__user {
  position: fixed;
  top: 75px;
  right: 1%;
  width: 10%;
  z-index: 10;
  color: #272727;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 5px rgba(227, 224, 224, 0.797);
}
.nav-bar__user li {
  margin: 0.2em;
  padding: 0.2em;
  cursor: pointer;
}
.nav-bar__user li:hover {
  color: #2046f2;
  border-bottom: 0;
}
.nav-bar__user-button {
  width: 20%;
  margin: 0 auto;
}
.nav-bar__user-button button {
  margin: 0.5em;
}
@media screen and (max-width: 1280px) {
  .nav-bar__user-button {
    width: 30%;
    text-align: left;
  }
}
@media screen and (max-width: 1280px) {
  .nav-bar__user {
    width: 30%;
    right: 3%;
  }
}
@media screen and (max-width: 590px) {
  .nav-bar__user {
    width: 50%;
  }
}

.main-offer-banner {
  position: relative;
}
.main-offer-banner__left-arrow {
  position: absolute;
  top: 55%;
  right: 2%;
  cursor: pointer;
  z-index: 10;
}
.main-offer-banner__left-arrow:hover {
  color: #d59c00;
}
.main-offer-banner__right-arrow {
  position: absolute;
  top: 55%;
  left: 2%;
  cursor: pointer;
  z-index: 10;
}
.main-offer-banner__right-arrow:hover {
  color: #d59c00;
}
.main-offer-banner__scroll-box {
  position: relative;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.main-offer-banner__scroll-box__container {
  display: flex;
  width: 300%;
  cursor: pointer;
  position: relative;
  margin: 0%;
  /* max-height: 400px; */
  /* width: 400%; */
  background-color: rgba(213, 156, 0, 0.514);
  box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
}
.main-offer-banner__scroll-box__container__image {
  width: 150%;
  /* height: 300%; */
  object-fit: cover;
}

.main-selection-banner__container {
  display: flex;
  justify-content: space-around;
}
.main-home-page {
  margin-top: 120px;
}

.main-category-page {
  margin-top: 120px;
}
.main-category-page__selected-category {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
