

.main-account-shortcut {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;

    & div {
        width: 100%
    }

    & button {
        margin: 1%
    }

    &__notification {
        position: relative;

        & span {

            position: absolute;
            border-radius: 100%;
            /* border: 3px solid blue; */
            left: 80%;
            background-color: brown;
            width: 20px;
            color: white;
            font-weight: bold;
        }
    }
}
