.main-account-object-list {

    margin: 0 auto;
    position: relative;
    
    
    
    &__wrapper {
        padding-top: 5%;
        margin-bottom: 3%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        background-color: map-get($COLOR-PALETTE, bg2 );
        box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
        border: 1px solid rgba(128, 128, 131, 0.13);
        
        & h3 {
            text-align: center;
        }
        & div {
    
            flex-basis: 20%;

            @include tablet-design {
                flex-basis: 40%;
            }

            @include mobile-design {
                flex-basis: 100%;
            }
        }

        &__view-more {
            text-align: center;
            margin: 1em;
        }
    }
}



// .main-article-wrapper {
//     background-color: white;
//     box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
//     border: 1px solid rgba(128, 128, 131, 0.13);
//     margin: 2%;
//     position: relative;
// }

// .account-object-section {
//     width: 100%;
//     /* background-color: aqua; */
//     border-radius: 20%;
// }

// .account-object-article {
//     margin: 3%;

// }

// .account-button-div {
//     position: absolute;
//     /* right: %; */
//     left: 5%;
//     top: 30%;
// }

// .modify-show-button {
//     position: relative;
// }

// .account-button-div {
//     position: absolute;
//     top: 5%;
//     /* left: 20%; */
//     background-color: rgba(255, 255, 255, 0.793);
//     border-radius: 35%;
    
    
// }

// .paid-label {
//     width: 30%;
//     background-color: green;
//     color: white;
//     margin: 0 auto;
//     margin-bottom: 10%;
// }

// .unpaid-label {
//     background-color: rgb(165, 39, 39);
//     width: 30%;
//     margin: 0 auto;
//     margin-bottom: 10%;
//     border-radius: 10%;
//     color: white
// }

// #close-object-list {
//     position: absolute;
//     left: 98%;
//     top: 0%;
//     cursor: pointer;
//     /* margin-bottom: 2%; */
// }
// #object-list {
//      position: relative;
//  }
// .account-object-box {
//     border: 1px solid rgba(128, 128, 131, 0.13);
//     margin-bottom: 2%;
// }

//  .account-object-box img {
//      width: 100%;
     
//  }

//  .account-object-price {
//     color: rgb(213, 156, 0);
//     font-size: 1.5em;

//  }

//  #close-object-list {

//  }