

.main-account-activity {

    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3%;

    text-align: center;

    & h3 {
        text-align: left;
    }

    &__buttons-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        & button {
            height: 70px;
            border-color: map-get($COLOR-PALETTE, price );
            color: map-get($COLOR-PALETTE, price );
            margin: 1em;

        }
        
        & p {
            margin: 0;
            font-size: 120%;
        }
    }
    
    &__container {
        text-align: center;

        display: block;
        justify-content: space-around;
        width: 100%;
        background-color: map-get($COLOR-PALETTE, bg2 );


        & div {
            width: 100%;
        }

        &__activity {
            position: relative;
            display: flex;
            justify-content: space-around;
            border-top: 10px solid rgb(255, 255, 255);

            &__label {
                position: absolute;
                color: rgb(136, 132, 132);
                left: 3%;
            }
        }

    }
}

.activity-button {
    cursor: pointer;
    color: map-get($COLOR-PALETTE, font2 );

    
    &:hover {
        color: map-get($COLOR-PALETTE, price );
        
    }
}

.activity-selected-button {
    background-color: map-get($COLOR-PALETTE, price );
    /* padding: 20%; */
    width: 80%;
    height: 2%;
    
    & h2 {
        color: map-get($COLOR-PALETTE, price );
    }
}