
.main-detailled-object-questions {
    // display: flex;
    text-align: center;
    background-color: white;
    // width: 100%;
    margin: auto;
    
    &__question-form {

        & input {

            @include tablet-design {
                height:34px;
                font-size: 1.2em;
            }
        }

        
    }
    
    &__box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        &__q-and-a {
            background-color: lighten( map-get($COLOR-PALETTE, prim ), 60%);
            margin: 3%;
            padding: 2%;
            box-shadow: 3px 3px 6px 3px rgba(209, 205, 205, 0.26);
            flex-basis: 20%;

            @include tablet-design {
                flex-basis: 31%;

            }

            @include mobile-design {
                flex-basis: 100%;

            }
            
            &__question-label {

                text-align: left;
                color:map-get($COLOR-PALETTE, ter )
            }

            &__question {

            }

            &__answer-label {
                text-align: left;
                color:map-get($COLOR-PALETTE, ter )


            }

            &__answer {
                
            }

        }

    }


}

@media screen and (max-width: 1280px) {

    .questions-main > div {
        flex-basis: 31%;
    }
    
}

@media screen and (max-width: 980px) {
    
    .questions-main > div {
        flex-basis: 48%;
    }
    
}

@media screen and (max-width: 680px) {
    
    .questions-main > div {
        flex-basis: 100%;
    }
    
}