.main-message-panel{
    margin: 2%;
    padding: 2%;
    box-shadow: 8px 3px 70px 0px rgba(194, 194, 194, 0.774);
    border: 1px solid rgba(211, 211, 211, 0.623);
    
    
    &__messages-wrapper{
        
        border: 2px solid rgba(211, 211, 211, 0.377);
        /* height: 600px; */
        width: 100%;
        display: flex;
        justify-content: center;
        
        @include tablet-design {
            display: block;
        }
        &__container {
            position: relative;
            width:100%;
        
            // @include tablet-design {
            //     display: block;
            // }
            
            &__messages-details {
                height:100%;
                width:100%;
            }

            &__messages-response {
                position: absolute;
                bottom: 0%;
                width:100%;

                        
                @include tablet-design {
                    position:relative;
                }
            }
        }

    }
}
