.table-selected-row {
    background-color: rgb(223, 226, 240);
    box-shadow: inset 3px 3px 3px 0px rgba(138, 151, 168, 0.75);
    box-shadow: inset 0 -3px 0 0 #2961db;
}

.table-row {
    background-color: rgb(246, 246, 246);

    &:hover {
        box-shadow: inset 0 -3px 0 0 #2961db;
        background-color: rgb(223, 226, 240);
        cursor: pointer;
    }
}

.unviewed-row {
    font-weight: bold;
    color: rgb(26, 24, 24)
}

.unviewed-message {
    background-color: rgb(240, 240, 228);

}

#selected-table-index {
    background-color: #2961db;
    color: white
}


.main-table-messages {
    background-color: rgb(241, 241, 241);
    width: 40%;
    // border: 1px solid lightgrey;
        
    @include tablet-design {
        width:100%;
    }   
    & table {
        box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
    }

    & th {
        text-align: center;

    }

    & tr {
        border-bottom: 1px solid  rgb(202, 202, 202);
        margin: 2%;
    }
    
    & td {
        @include tablet-design {
            height:60px;
            width: 100%;
        }
    }

    


    &__button-box {
        text-align: center;
        margin-top: 3%;
        margin-bottom: 2%;

        & button {
            margin: 1%;
            width: 90%
        }
    }

    &__table-box {
        overflow-y: scroll;
        height: 423px;
        background-color: rgb(255, 255, 255);
        // border: 1px solid lightgrey;
        padding: 2%;
                
        @include tablet-design {
            height: 200px;
            min-height: 200px;
            font-size: 1em;
        }
    }
}
