
.nav-bar {
     position: fixed;
     top: 0;
     left:0;
     height:$navigation-default-height;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: map-get($COLOR-PALETTE, ter );
     background-color: map-get($COLOR-PALETTE, sec);
     opacity: .95;
     z-index: 9;
     width: 100%;

    @include wide-screen-design {

        width: $max-width-screen;
        left:0;
        right:0%;
        margin: 0 auto;
    }


     @include border-bottom-default;
     @include small-bottom-shadow;

     
     &__nav-site {
        max-width: $max-width-screen;
         margin-left: 20px;
         display: flex;
         align-items: center;
         cursor: pointer;

         &:hover {
             opacity: .8;
         }

         
         &__nav-burger {
             display: none;
             margin-right: $medium;
         }

         @include tablet-design {

            &__nav-burger {
                display: block;
            }  
         }
     }

     &__logo {
         color: map-get($COLOR-PALETTE, font );
         text-decoration: none;

         & img {
             width:12%;
         }

         @include tablet-design {
             & img {
                 display: none;
             }
         }
     }


     &__search {

         display: flex;
         align-items: center;     
         
         &-bar {
            margin-right: $medium;
            height: 2em;
    
            @include mobile-design {
                display: none;
            }
        }

     }

     
     &__account {
        margin-right: 20px;

         text-align: center;
         cursor: pointer;
        
        &:hover {
            opacity: .7;
        }
        
         &-menu {

        }
        
        &-angle {
            margin-left: $small;
        }

        &-pseudo {
            font-size:.8em;
            margin: 0;
        }
    }

    &__menu {

        width:40%;
        
        &__link-list {
            display: flex;
            justify-content: space-evenly;

            & li {
                cursor: pointer;
                border-bottom: 1px solid white;
            }

            & li:hover {
                // border-radius: 20px;
                // padding-left: $small;
                // padding-right: $small;
                // color: map-get($COLOR_PALETTE, sec );
                // padding:0;
                @include border-bottom-default;
            }
        }

        & i {
            display:none;
        }

        &--large {
            // padding:6%;

        }

        &__link-list {
            & li {

                margin: .5em;

                &:hover {
                    opacity: .7;
                }
            }
        }

        @include tablet-design  {
            
            width: 30%;

            position: absolute;
            top: $navigation-default-height+5px;
            left: 1%;
        //  height:100%;
            z-index: 10;
            color: map-get($COLOR_PALETTE,font);
            background-color: map-get($COLOR_PALETTE,sec );
            border-radius: 20px;

            // @include small-border-default;
            @include small-shadow;


            & li {
                margin: $small;
                padding: $small;
            }
            & li:hover {
                color: map-get($COLOR_PALETTE, ter);
                border-bottom: 0;
            }

            &__link-list {
                display: block;
                justify-content: space-evenly;
                // background-color: red;
                // padding-left: 10%;
            }
    
            & i {
                display: block;
            }

            &--large {
                display:none;
                margin: 0;
            }

        }

        @include mobile-design {
            width: 50%;
        }
    }
    
     &__user {
        position: absolute;
        top: $navigation-default-height+5px;
        right: 0%;
        width: 17%;
        z-index: 10;
        color: map-get($COLOR_PALETTE,font);
        background-color: map-get($COLOR_PALETTE,sec );
        border-radius: 20px;

        // @include small-border-default;
        @include small-shadow;
        & ul {
            margin: 1em auto;
            padding:0;
            text-align: center;
        }
        & li {
            margin: $medium;
            padding: $small;
            cursor:pointer;

            & button {
                width:70%;
                border-radius: 5px;
                border-color: map-get($COLOR-PALETTE, bg2 );
                font-size: 1em;

                &:hover {
                    border-color: lighten(map-get($COLOR_PALETTE, ter), 35%);
                }
            }

        }
        & li:hover {
            color: lighten(map-get($COLOR_PALETTE, ter), 20%);
            border-bottom: 0;
        }

        &-button {
            // width: 20%;
            margin: 0 auto;
            & button {
            margin: $medium;
            }

            @include tablet-design {
                // width: 30%;
                text-align: center;
            }
        }

        @include tablet-design  {
            
            width: 35%;
            right: 3%;
        }

        @include mobile-design {
            width: 50%;
        }
     }
}