.main-offer-banner {
    position:relative;
    

    &__left-arrow {
        position: absolute;
        top:55%;
        right:2%;
        cursor: pointer;
        z-index: 10;

        &:hover {
            color: rgb(213, 156, 0);; 
        }
    }

    &__right-arrow {
        position:absolute ;
        top:55%;
        left:2%;
        cursor: pointer;
        z-index: 10;

        &:hover {
            color: rgb(213, 156, 0);; 
        }

    }

    &__scroll-box {
        position: relative;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
        
        &__container {
            display: flex;
            width: 300%;
            cursor: pointer;
            position: relative;
            margin: 0%;
            /* max-height: 400px; */
            /* width: 400%; */
            background-color: rgba(213, 156, 0, 0.514);;
            box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
            

            &__image {
                width:150%;
                /* height: 300%; */
                object-fit:cover;
            }
        }
    }

}

