
.main-search-form {
    margin: 0 auto;
    padding: 2em;
    border-radius: 2em;
    max-width: 900px;

    @include small-shadow;

    & input {
        @include tablet-design {
            font-size: 1.3em;
            height: 40px;
            margin-bottom: 1.5em ;
        }
    }

    &__search-bar {
        // font-size: 1.5em;
        height: 30px;
        width: 70%;

        @include tablet-design {
            width:100%;
        }
    }

    & select {
        height: 34px;
        width:29%;

        @include tablet-design {
            width:100%;
            height: 40px;
            font-size: 1.4em;
            text-align: center;

        }
    }

    
    &__checkbox {
        display: flex;
        justify-content: right ;
        padding: 1em;
        // width: 100%;

        @include tablet-design {
            display:block;
            margin: 0 auto;
            text-align: center;
        }

        & div{
            margin-left: 3em;

        }

        & input {
            width:50px;
        }
    }

    &__button{
        text-align: center;
        // margin-right: 3em;
    }

}