
.main-selection-button {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    margin-bottom: 5%;

    & button {
        box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
        /* background-color: rgb(85, 85, 201); */
        color:  rgb(85, 85, 201);
        width: 150%;
        height: 120%;
        /* color: white; */
        margin: 1%;  

        @include tablet-design {

            width: 120%;
            height: 100%;
            
        }

        @include mobile-design {

            width: 90%;
            height: 90%;
            
        }

        &:hover {
            background-color: rgb(85, 85, 201);
            color: white
        }
    }

    & i {
        margin-top: 10%;
    }

    &__paid-number {
        background-color: rgb(189, 41, 41);
        margin: 5%;
        border-radius: 30%;
        font-weight: bold;
        font-size: 120%;
    }

    &__selected {

        & button {
            background-color: map-get($COLOR-PALETTE, font2);
            box-shadow: 0px 10px 10px 10px rgba(211, 211, 211, 0.322) ;
            color: white
        }
    }

}