
.main-solde-list {
    & table {
        width: 90%;
        text-align: center;
        margin: 0 auto;

        & td {
            width: 50%;
            border-bottom: 1px solid rgb(233, 229, 229);
            &:first-child {
                width: 10%;
            }
        }
    }


    &__operations {
        height: 300px;
        overflow-y: scroll;
    }
    
}