
.main-sub-category{

    margin: 10px;
    
    &__container {
        display: flex;
        overflow-x: scroll;

        &__button-box {
            text-align: center;
            opacity: 0.9;

            &__button {
                width:160px;
                margin: 10px;
            }
        }
    }
}