.main-transaction-list {

    // & tr {
    //     padding: 1%;
    //     // margin: 2%;
    // }
    
    & td {
        padding: 2%;
        margin: 2%
    }

    &__table {
        background-color: rgb(252, 252, 252);
        width:100%;
        padding: 2%;

        @include mobile-design {
            width:90%;
         }
         
         &__purchased {
             max-height: 30px;
             width: 100%;
             
             & div {
                // box-shadow: 10px 10px 10px 10px rgba(241, 241, 241, 0.404);
            }
            
            & button {
                @include mobile-design {
                    width: 100px;
                }
            }
            
            &:hover {
                background-color: rgb(223, 226, 240);
                cursor: pointer; 
            }
            
            &__container {
                
                border-bottom: 2px solid rgba(211, 211, 211, 0.685);

    
                &__id {
                    width: 10%;
                }
    
                &__title {
                    width:30%;
                    text-overflow: hidden;
    
                    @include mobile-design {
                        width:20%;
                    }
                }
    
                &__img {
    
                    width: 20%;
                    text-align: center;
                    
                    @include mobile-design {
                        display:none;
                        width: 0%;
                    }
    
                    & img {
    
                        width: 30% ;
    
                        @include tablet-design {
                            width: 60%
                        }
    
                    }
    
                }
    
                &__price {
                    width: 10%;
    
                    @include mobile-design {
                        width:20%;
                        text-align: center;
                    }
                }
    
                &__status {
                    text-align: center;
                    width:10%;
    
                    & button {
                        
                        @include mobile-design {
                            
                            max-width:100%;
                        }
                    }
    
                    @include mobile-design {
                        width:100%;
                        }
    
                }
    
                &__date {
                    width:20%;
                    text-align: right;
    
                    @include mobile-design {
                        display:none;
                        width: 0%;
                    }
                }
            }
        }

    }
}