

 .close-menu-cross {
     color: map-get($COLOR_PALETTE, ter );
     position: absolute;
     top: 3%;
     left: 93%;
     cursor: pointer;

      @include mobile-design {
          left: 90%;
      }
 }

 