
.button-follow {
    border-color: rgb(71, 136, 71);
    color: rgb(71, 136, 71);
    border-radius: none;
}

.button-unfollow {
    border-color: #d06767;
    color:  #d06767
}

.button-open-bid {
    border-color: rgb(213, 156, 0);
    color: rgb(213, 156, 0);
    border-radius: 0;

}

.button-bid {
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 2px;
    border-color: rgb(213, 156, 0);
    color: rgb(213, 156, 0);
}
