
.main-object {

    position: relative;
    margin: 1%;
    border-radius: 5%;
    box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.1);
    border: 1px solid rgba(128, 128, 131, 0.13);

    /* box-shadow: 5px 5px 5px whitesmoke; */
    text-align: center;

    &:hover {
        box-shadow: 6px 6px 12px 12px rgba(194, 194, 194, 0.397);
        cursor: pointer
    }

    &__image {
        & img {
            // min-height: 70%;
            width: 90%;
            /* border-radius: 10%; */
            margin: 2%;
            margin-right: 5%;
            max-height: 100%;
            text-align: center;
        }
    }

    &__informations {
        

        &__title {

        }

        &__price {
            color: rgb(213, 156, 0);

        }

        &__table {
            text-align: center;
            width: 60%;
            margin: 0 auto;
            
            & td {
                border-bottom: 1px solid lightgrey;

            }
        }

        &__duration {
            color: rgb(213, 156, 0);
            font-weight: bold;
            font-size: 1.2em;
        }

    }

}