
// .button-search {

//     border-radius: 10px 10px 0 0;

//     @include tablet-design {
//         width:100px;
//         background-color: blue;
//     }
// }

.button-search {
    color: map-get($COLOR_PALETTE, ter);
    height: 2em;
    border-radius: 0 10px 10px 0;
    @include tablet-design {
        text-align: center;
        width:70px;
        
    }
    
    @include mobile-design {
        border-radius: 10px;

    }
}