

// GAP
$small: .2em;
$medium: .5em;
$large: 1em;

// NAVIGATION HEIGHT
$navigation-default-height: 70px;


$COLOR-PALETTE :( 
    prim:#585858, 
    sec:#fafafa, 
    ter:#2046f2, 

    price: rgb(213, 156, 0),

    bg: #fff,
    font: rgb(39, 39, 39),
    shadow: rgba(58, 58, 58, 0.342),

    error: #d06767,
    success: rgb(71, 136, 71),
);

// RESPONSIVE
$breakpoints : (
    mobile: 590px,
    tablet: 1280px,
    wide-screen: 1400px,
);

//MAX SCREEN
$max-width-screen: map-get($breakpoints, wide-screen )